@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --primary:#1E86FF;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dcdcdc99	;
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
  

  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

